@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Class */

.flex{
    display: flex;
}
.background-color{
    background: rgba(255, 144, 14, 0.1);
}
.dark1-color{
    color: #131313;
}
.dark2-color{
    color: #424242;
}
.dark3-color{
    color: #727272;
}
.primary-btn{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color:#FFFFFF ;
}


/* header style */

.header-container{
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
}
.heading-class{
    font-size: 1.8rem;
   font-weight: 700;
}
.list{
    gap: 20px;
}
.list-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}
.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 30px 0;
}
.image-div{
    justify-content: center;
    align-items: center;
    width: 100%;
}
.banner-img{
    width:1050px;
    height: fit-content;
    margin: 0 auto;
}
.banner-heading{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: auto;
    margin-bottom: 15px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 15px;
}

/* Add responsiveness for header */


@media screen and (max-width:576px){
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        max-width: 100%;        
        margin: 0 auto;       
        padding: 20px;        
        box-sizing: border-box;
    }
    
    .list {
        flex-direction: column;
    }

    .list-item {
        margin: 5px 0; 
    }
     .banner-content{
        max-width: 300px;
        padding: 20px;
    }
     .banner-img{
        width: 400px;
    }
}
@media screen and (max-width:992px){
    .header-container{
        width: 850px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
       
    }
    .banner-content{
        max-width: 600px;
    }
    .banner-img{
        max-width: 800px;
    }
    .list{
        margin-top: 30px;
    }
}

/* Features Section style */

.features{
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 1170px;
    margin-top: 100px;
}

.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 90.5px;
}
.feature-img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.feature-heading {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.features-span{
    color: rgb(255, 144, 14);
}
.feature-paragraph{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Add responsive for feature section */

@media screen and (max-width:576px){
    .features{
        flex-direction: column;
        width: 100%;
        gap: 30px;
        margin-top: 50px;
    }
    .teams-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        margin-left: 0;
    }
    .features-content{
        text-align: center;
        padding: 20px;
    }
    
}  

/* Different Features Section Style */
.different-features{
    justify-content: space-between;
    align-items: flex-start;
    width: 1170px;
    gap: 100px;
    margin-top: 100px;
    margin-left: 90.5px;
} 
.card-and-title-container,.architect-img{
    width: 586px;
    height: 650px;
}
.feature-section-title{
    border-left: 5px solid #FF900E;
    font-size: 2.2rem;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 20px;
}
.feature-section-paragraph{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.feature-card{
    width: 586px;
    height: 128px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 20px;
}
.card-title{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-paragraph{
    font-size: 1rem;
    font-weight: 400;
}
.diffrent-features-btn{
    height: 120px;
    width: 250px;
    padding: 20px;
    margin-left: -60px;
    margin-top: -80px;
}
.experience-span{
    font-size: 3.5rem;
    font-weight: 700;
}
.architect-img{
    width: 100%;
}

/* responsive for different features section */
@media screen and (max-width: 576px){
.different-features {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 50px;
    margin-left: 10px !important;
    padding: 0 10px;
}
.card-and-title-container{
    width: 100%;
    height: auto;
    
}
.feature-card{
    width: 100%;
    padding-bottom: 20px;
}
.different-features-img {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
 .architect-img {
      width: 100%;
      height: auto;
      margin-top: 30px;
  }
.diffrent-features-btn{
    margin-left: -200px;
    margin-top: -60px;
    width: 50%;
    height: 50%;
}
.experience-span{
    font-size: 2.2rem;
    font-weight: 600;
}

}

/* facts section style */

.facts{
     width: 1170px;
     margin-left: 90.5px;
     margin-right: 90.5px;
     margin-top: 100px;
}
.facts-heading{
    font-size: 2.2rem;
    font-weight: 700;
    
}
.facts-paragraph{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 60px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 80px;
}
.facts-card{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    padding: 35px;
    text-align: center;
    margin-left: 30px;
}
.fact-span{
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 5px;
}
.fact-paragraph{
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 5px;
    
}

/* Add responsiveness for fact section */

@media screen and (max-width: 576px){
.facts{
     width: 100%;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 50px;
}
.facts-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .facts-card{
    width: 80%;
    margin: auto;
}
.facts-heading,.fact-paragraph{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 30px 10px;
}
}

/* sponsors section style */

.sponsors{
     width: 1170px;
     margin-left: 90.5px;
     margin-right: 90.5px;
     margin-top: 100px;
}
.our-sponsors{
    text-align: center;
    margin-bottom: 40px;
}
.sponsor-heading{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.sponsor-paragraph{
    font-size: 1rem;
    font-weight: 400;
    
}
.sponsors-img{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5,1fr);
    filter:grayscale(100%);
    
}

/* Add responsiveness for sponsors section */

@media screen and (max-width: 576px){
    .sponsors{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
    }
    .sponsors-img{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
}

/* Footer style */

.footer{
    width: 1140px;
    height: 80px;
    margin: 90px auto;
    border-radius: 8px;
    background: rgb(255, 244, 231);
}
.footer-paragraph{
    padding: 30px 300px;
}

@media screen and (max-width: 576px){
    .footer{
    width: 90%;
    height: 80px;
    margin: 90px auto;
    border-radius: 8px;
    background: rgb(255, 244, 231);
}
.footer-paragraph{
    padding: 20px ;
    text-align: center;
}
}